.main {
    width: 98vw;
    height: 98vh;
    overflow:hidden;
    
}

.heatmap {
    width: 49vw;
    height: 49vw;
    float:left;
}

.local_view {
    width: 50%;
    height: 34.5%;
    float:right; 
    border: 3px solid black;
    border-radius: 50px;
    transform:translateY(20);
}

.img_grid {
    width: 50%;
    height: 64.5%; 
    /* padding:0.5%; */
    float:right;
    display: flex;
    justify-content: center;
}

.img_grid > img {
    width: 100px;
    height: 100px;
}





